---
import { getEntry } from "astro:content";
import { ArrowSquareOutIcon } from "@phosphor-icons/react";
import SourceCode from "@/components/source-code.astro";
import { Button, buttonStyle } from "@/foundations/ui/button/button";
import { ComponentPreview } from "./component-preview";

type Props = {
  slug: string;
};

const { slug } = Astro.props;

const entry = await getEntry("previews", slug);

if (!entry) {
  throw new Error(`No preview found for slug: ${slug}`);
}

const previewPath = `/preview/${entry.id}`;

const { layout, mode } = entry.data.meta || {};
---

<div class="group/preview relative h-75 md:h-100" data-id="preview" data-view="preview" data-escape-markdown>
  <div class="size-full overflow-hidden rounded-lg border group-data-[view=source]/preview:hidden">
    {
      mode === "iframe" ? (
        <iframe src={previewPath} class="size-full" />
      ) : (
        <ComponentPreview file={entry.data.file} layout={layout} client:visible />
      )
    }
  </div>
  <SourceCode file={entry.data.file} class="h-full group-data-[view=preview]/preview:hidden" />

  <div class="absolute right-0 bottom-0 z-20 flex items-center gap-2 p-3">
    <Button
      size="sm"
      variant="outline"
      data-id="preview-toggle"
      className="after:content-['source'] group-data-[view=source]/preview:after:content-['preview']"
    >
      View
    </Button>
    <a
      href={previewPath}
      target="_blank"
      class={buttonStyle({
        size: "sm",
        variant: "outline",
        square: true,
        className: "no-underline cursor-pointer",
      })}
    >
      <ArrowSquareOutIcon />
    </a>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const toggles = [...document.querySelectorAll("[data-id=preview-toggle]")];

    for (const toggle of toggles) {
      toggle?.addEventListener("click", () => {
        const container = toggle.closest("[data-id=preview]");
        if (!container) return;

        const currentView = container.getAttribute("data-view");
        const newView = currentView === "preview" ? "source" : "preview";

        container.setAttribute("data-view", newView);
      });
    }
  });
</script>
